* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

/* HEADER */
header {
  height: 70px;
  background: #050505;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

/* MENU */
nav {
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* THREE BARS */
.menu-btn {
  display: none;

  background: transparent;
  color: white;

  border: none;

  font-size: 32px;

  cursor: pointer;
}

/* HOME */
.hero {
  min-height: 90vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 30px;

  background:
    linear-gradient(
      rgba(0,0,0,.7),
      rgba(0,0,0,.8)
    ),
    url("https://images.unsplash.com/photo-1621605815971-fbc98d665033?auto=format&fit=crop&w=1200&q=80");

  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
}

/* OTHER PAGES */
.page {
  max-width: 900px;
  min-height: 80vh;

  margin: auto;

  padding: 80px 20px;

  text-align: center;
}

.page h1 {
  color: #d4af37;
  font-size: 40px;
  margin-bottom: 30px;
}

.page p {
  line-height: 1.8;
  margin-bottom: 15px;
}

/* SERVICES */
.services {
  display: grid;

  grid-template-columns:
    repeat(2, 1fr);

  gap: 20px;

  margin-top: 30px;
}

.service {
  background: #222;

  padding: 30px;

  border-radius: 10px;
}

.service h2 {
  margin-bottom: 15px;
}

.service p {
  color: #d4af37;
  font-weight: bold;
}

/* BUTTON */
.button {
  display: inline-block;

  background: #d4af37;

  color: #000;

  padding: 14px 25px;

  border-radius: 5px;

  text-decoration: none;

  font-weight: bold;
}


/* MOBILE */
@media (max-width: 768px) {

  /* SHOW THREE BARS */
  .menu-btn {
    display: block;
  }

  /* HIDE MENU */
  nav {
    display: none;

    position: absolute;

    top: 70px;
    left: 0;

    width: 100%;

    background: #050505;

    flex-direction: column;

    gap: 0;

    text-align: center;
  }

  /* OPEN MENU */
  nav.active {
    display: flex;
  }

  nav a {
    padding: 18px;

    border-bottom: 1px solid #333;
  }

  .hero h1 {
    font-size: 32px;
  }

  .services {
    grid-template-columns: 1fr;
  }
}
